<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>World Happiness Data</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h5>SELECT Year:</h5>
          <select id="selDataset" onchange="optionChanged(this)"></select>
          <h5>SELECT Variable:</h5>
          <select id="selVarset" onchange="optionVarChanged(this)"></select>
          <h5>SELECT Chart Type:</h5>
          <select id="selChartset" onchange="optionChartChanged(this)"></select>          
        </div>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Happiness Data</h3>
    </div>
    <table id="sample-metadata" class="panel-body">
            <tbody>
            </tbody>            
    </table>
  </div>
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
<!-- DataTables CSS -->
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<!-- DataTables JS -->
<script href="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>  

</body>

</html>
